img {
    width: 200px;
    height: 200px;
    position: relative;
    left: 1000px;
    border-radius: 50%;
    border: 2px solid black;
}

* {
    background: linear-gradient(90deg, rgb(191, 7, 123), orange);
    color: white;
}

.tit {
    position: relative;
    top: 150px;
    left: 500px;
    background: none;
    font-family: Andale Mono, monospace;
}

h1 {
    background: none;
}

h2 {
    background: none;
}